# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
.vscode

# Flask-specific files
instance/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
.venv

# API logs
api.log

# Model checkpoints
*.pt
*.pth
model_checkpoints/

# Logs and Cache
logs/
model_cache/

#nltk_data
nltk_data